@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    font-family: "poppins";
    background-color: #D9E3EB;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23D9E3EB'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23ecf1f5'/%3E%3Cstop offset='1' stop-color='%23D9E3EB'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform=''%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.68' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.nav {
    height: 80px;
    width: 100%;
    position: relative;
    padding: 10px 10px;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    font-weight: bold;
    display: inline-block;
    font-size: 28px;
    color: #3A3667;
    border: 3px solid #3A3667;
    border-radius: 30px;
    margin: 5px 0 0 50px;
    padding: 0 10px 0 10px;
    box-shadow: rgba(77, 29, 165, 0.2) 0px 3px 8px;
}

.nav>.nav-header>.nav-title>.nav-logo {
    width: 30px;
    position: relative;
    top: 5px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 20px;
}

.nav>.nav-links>a {
    font-weight: 600;
    display: inline-block;
    padding: 13px 40px 13px 15px;
    text-decoration: none;
    color: #514b9b;
}

.nav>.nav-links>.nav-link-active {
    text-decoration: underline;
}

.nav>.nav-links>a:hover {
    text-decoration: underline;
    color: #9A91EA;
    transition: 3s infinite;
}

.nav>#nav-check {
    display: none;
}


/* Header */

#header {
    padding: 4rem 4rem 0 4rem;
    height: 100vh;
    display: flex;
    column-gap: 100px;
}

#header .header-img {
    float: left;
    flex: 2;
}

#header .header-pic {
    width: 105%;
}

#header .header-txt {
    float: right;
    flex: 2;
}

#header .header-title {
    font-size: 6rem;
    color: #3A3667;
    -webkit-text-stroke: 5px #ADADEB;
    letter-spacing: 5px;
}

#header .header-para {
    color: gray;
    margin-top: 10px;
    line-height: 30px;
}

.quote-1 {
    width: 40px;
    margin-bottom: 5px;
}

.quote-2 {
    width: 40px;
    margin-top: 10px;
}

#header .header-tag {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background-color: #ADADEB;
    padding: 10px 10px 10px 20px;
    width: 33rem;
    border-radius: 50px;
}

#header .header-pic2 {
    display: none;
}


/* Media tag  */

@media (max-width: 860px) {
    /* Navbar  */
    .nav {
        height: 60px;
        padding-top: 8px;
        background-color: #F0F0F8;
    }
    .nav>.nav-header>.nav-title {
        font-size: 25px;
        margin: 0;
        padding: 0 10px 0 10px;
        border: none;
        box-shadow: none;
    }
    .nav>.nav-header>.nav-title>.nav-logo {
        top: 0;
        width: 45px;
    }
    .nav-span {
        display: none;
    }
    .nav>.nav-btn {
        display: inline-block;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        display: flex;
        flex-wrap: wrap;
        width: 60px;
        height: 60px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #d9d9f0;
    }
    .nav>.nav-btn>label>span {
        display: block;
        height: 10px;
        border-top: 2px solid #656391;
    }
    .nav>.nav-btn>label>.span1 {
        width: 30px;
    }
    .nav>.nav-btn>label>.span2 {
        width: 30px;
    }
    .nav>.nav-btn>label>.span3 {
        width: 20px;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #ffffff;
        height: 100vh;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 0px;
    }
    .nav>.nav-links>a {
        margin: 30px 0;
        text-align: center;
        display: block;
        width: 100%;
        padding-right: 15px;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    /* Header */
    #header {
        padding: 50px 30px 0 30px;
    }
    #header .header-img {
        display: none;
    }
    #header .header-pic {
        width: 100%;
    }
    #header .header-title {
        font-size: 50pt;
        -webkit-text-stroke: 3px #ADADEB;
    }
    #header .header-para {
        font-size: 13px;
        padding: 0 10px 0 20px;
    }
    #header .header-para-txt {
        padding: 0 0 0 20px;
    }
    .quote-1 {
        width: 30px;
        margin-bottom: 5px;
    }
    .quote-2 {
        width: 30px;
        margin-top: 10px;
    }
    #header .header-tag {
        font-size: 15px;
        margin: 2rem 0 0 0;
        padding: 10px 0 10px 20px;
        width: 265px;
        border-radius: 50px;
    }
    #header .header-pic2 {
        display: block;
        width: 100%;
        float: right;
    }
}